@using Compalny.R.PL.ViewModels
@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/_AuthenticationLayout.cshtml";
}

<h1>ForgetPassword</h1>
<form asp-action="ForgetPassword" method="post">
	<input type="text" asp-for="Email" placeholder="Email">

	
	<input type="submit" value="Forget Password">
</form>
